.link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &.link--active {
    text-decoration: underline;
  }
}

.link--primary {
  color: $link__primary;

  &:hover,
  &.link--active {
    color: $link__primary-hover;
  }
}
